*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
}

svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    stroke-dashoffset: 1000px;
    stroke-dasharray: 1000px;
   
}

#back{
    width: 100%;
    height: 100%;
    background-color: black;
    
   
}
#wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url('https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80');
    background-position: 50% center;
}




#circle{
    width: 40px;
    height: 40px;
    border: 1.2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 20;
    pointer-events: none;

}

#back h1{
    color: white;
    font-size: 480px;
    font-family: 'montserrat';
    font-weight: 900;
    pointer-events: none;
    
}

#back #whitestrip{
    width: 53%;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blackcard{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
    width: 170px;
    height: 225px;
    background-color: black;
    padding: 20px;

}

#blackcard p{
    color: white;
    font-family: 'playfair display';
    font-size: 10px;
    text-align: center;
    line-height: 20px;
}
#lineelem{
    display: flex;
    align-items: center;

}
#line{
    width: 200px;
    height: 2px;
    background-color: black; 
    margin: 0 20px; 
}

#lineelem h4{
    font-family: 'playfair display';
    font-size: 14px;
}

#lineelem i{
    cursor: pointer;
}

#back>h5{
    position: absolute;
    top: 50%;
    left: -5%;
    color: white;
    font-family: 'montserrat';
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 15px;
    font-size: 6px;
    transform: rotate(-90deg);
}

.animate{
    animation: animation 10s cubic-bezier(0.19, 1, 0.22, 1) both;
}

@keyframes animation {
    to{
        stroke-dasharray: 480px;
    }
}